<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FluxBank">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- Nova tela de início -->
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.FluxBank.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Telas de Boas-vindas e Login -->
        <activity android:name=".IntroductionActivity" android:exported="false" />
        <activity android:name=".MainActivity" android:exported="false" />
        <activity android:name=".SenhaActivity" android:exported="false" />

        <!-- Telas de Cadastro -->
        <activity android:name=".CadastroInicioActivity" android:exported="false" />
        <activity android:name=".CadastroCpfActivity" android:exported="false" />
        <activity android:name=".CadastroCnpjActivity" android:exported="false" />
        <activity android:name=".CadastroEmailActivity" android:exported="false" />
        <activity android:name=".CadastroSenhaActivity" android:exported="false" />
        <activity android:name=".CadastroSenhaTransActivity" android:exported="false" />

        <!-- Telas Pós-Login -->
        <activity android:name=".LoadingActivity" android:exported="false" />
        <activity android:name=".HomeActivity" android:exported="false" />
        <activity android:name=".PoupancaActivity" android:exported="false" />
        <activity android:name=".CofinhoActivity" android:exported="false" />
        <activity android:name=".ConfiguracoesActivity" android:exported="false" />
        <activity android:name=".DefinirValorPixActivity" android:exported="false" />
        <activity android:name=".ConfirmarPagamentoActivity" android:exported="false" />
        <activity android:name=".SenhaPagamentoActivity" android:exported="false" />
        <activity android:name=".PagamentoSucessoActivity" android:exported="false" />
        <activity android:name=".ComprovanteActivity" android:exported="false" />
        <activity android:name=".ComprovantesActivity" android:exported="false" />
        <activity android:name=".SegundaActivity" android:exported="false" />

        <!-- Tela Pix -->
        <activity android:name=".PixActivity" android:exported="false" />

        <!-- Tela de Leitor QR -->
        <activity android:name=".LeitorQrActivity" android:exported="false" />

        <!-- Tela de Scanner de Código de Barras -->
        <activity android:name=".BarcodeScannerActivity" android:screenOrientation="landscape"/>

        <!-- Tela de Cartões -->
        <activity android:name=".CardsActivity" android:exported="false" />

        <!-- Tela de Faturas -->
        <activity android:name=".InvoiceActivity" android:exported="false" />

        <!-- Tela de Extrato -->
        <activity android:name=".ExtratoActivity" android:exported="false" />

        <!-- Tela de Envio de FAQ-->
        <activity android:name=".EnviarFaqActivity" android:exported="false" />

        <!-- Tela de FAQ -->
        <activity android:name=".FaqActivity" android:exported="false" />

        <!-- Tela de Pagamentos-->
        <activity android:name=".PagamentosActivity" android:exported="false" />
        <activity android:name=".AgendarPagamentoActivity" android:exported="false" />


        <!-- Tela de dados do usuario -->
        <activity android:name=".DadosClienteActivity" android:exported="false" />

        <!-- Tela de Chatbot-->
        <activity android:name=".ChatbotActivity" android:exported="false" />

        <!-- Tela de Notificações -->
        <activity android:name=".NotificacaoActivity" android:exported="false" />

    </application>

</manifest>